
.loader-container{
    position: absolute;
    width: 100%;
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15000;
    transition: all 0.5s ease;
}

.loader-container.hidden{
    overflow: hidden;
    opacity: 0;
}